body {
  padding: 0;
  margin: 0;
}

#mapid,
body,
html {
  height: 100%;
}

.legend {
    background-color: white;
    padding-right: 3em;
}

.legend ul {
    list-style-type: none;
}

.square {
    width: 13px;
    height: 13px;
    float: left;
    clear: both;
    margin-right: 0.3em;
}

